[masters]
%{ for index_master, master_ip in master_ip_address_list ~}
${master_vm_names[index_master]}        ansible_host=${master_ip}
%{ endfor ~}

[workers]
%{ for index_worker, worker_ip in worker_ip_address_list ~}
${worker_vm_names[index_worker]}       ansible_host=${worker_ip}
%{ endfor ~}


[all:vars]
public_ip=${master_nat_ip_address_list[0]}
ansible_user=ubuntu
