# /etc/hosts
127.0.0.1   localhost
127.0.1.1   {{ ansible_hostname }}

# Kubernetes Cluster Hosts
{% for host in groups['masters'] %}
{{ hostvars[host]['ansible_host'] }} {{ host }}
{% endfor %}
{% for host in groups['workers'] %}
{{ hostvars[host]['ansible_host'] }} {{ host }}
{% endfor %}

